<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./../../style.css">
    </head>
<body>

    <div class="addAlbum page">
        <%- include('navbar') %>

        <div class="content">
            <h1 style="text-align: center;">Change Album</h1>

            <form class="addAlbum-form" style="margin-top: 100px;" method="POST" action="/album/update/<%= album.id_album %>">
                <div class="input">
                    <label for="albumName">Name:</label>
                    <input style="margin-bottom: 30px;" type="text" id="albumName" name="albumName" value="<%= album.name %>" required>
                </div>

                <div class="input" style="margin-bottom: 60px;">
                    <label for="artistName">Artist:</label>
                    <input style="margin-bottom: 30px;" type="text" id="artistName" name="artistName" value="<%= album.artist %>" required>
                </div>

                <div class="input">
                    <label for="albumGenre">Genre:</label>
                    <select id="albumGenre" name="albumGenre" style=" width: 180px; margin-bottom: 30px;">
                        <% genres.forEach(function(genre) { %>
                            <option value= <%= genre.id_genre %> > <%= genre.name %> </option>
                        <% }) %>
                    </select>
                </div>

                <div class="input">
                    <label for="albumYear">Year:</label>
                    <input style="margin-bottom: 30px;" type="number" id="albumYear" name="albumYear" value="<%= album.year %>" required>
                </div>

                <div class="input">
                    <label for="albumPrice">Price ($):</label>
                    <input 
                        style="margin-bottom: 30px;" 
                        type="number" 
                        id="albumPrice" 
                        value="<%= album.price %>"
                        name="albumPrice"  
                        step="0.01" 
                        min="0.01"
                        placeholder="0.00"
                        required
                    >
                </div>

                <div class="input">
                    <label class="input-optional" for="albumImgUrl">Add image url:</label>
                    <input style="margin-bottom: 30px;" type="text" id="albumImgUrl" name="albumImgUrl" value="<%= album.img_url %>" value="">
                </div>

                <div class="input" style="margin-bottom: 40px;">
                    <label class="input-optional" for="albumDesc">Description:</label>
                    <textarea id="albumDesc" name="albumDesc" rows="4" cols="24" value="<%= album.description %>"></textarea> 
                </div>

                <button type="submit" class="btn"> Change </button>
            </form> 
        </div>
    </div>

</body>
</html>